body{
    background-color: bisque;
}

.fantasyScratch{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 19px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #7a3737;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
    margin: 2%
}

img{
    display: block;
    width: 20%;
    padding-top: 10%;
    margin: auto;
}