body{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    background-image: linear-gradient(to right, rgba(255,228,196,0.7) 0 100%) ,url('../UI_Images/backgroundDragon.png');
    background-repeat: repeat-y;
    background-position: center top;
    background-size: 30%;

}

.fantasyScratch{
    font-family:  "New Rocker", system-ui;
    font-size: 19px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #7a3737;
    background-color: rgba(226, 200, 169, 0.425);
    padding: 1%;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
    margin: 2%;
    text-align: center;
}

.goblinGrumble{
    font-family: "Are You Serious", cursive;
    font-size: xx-large;
    letter-spacing: 2px;
    padding: 1%;
    word-spacing: 2px;
    color: #7a3737;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    transform: translateY(-20%);
    margin: 0%;
    text-align: center;
}

.goblinYELL{
    font-family: "Freckle Face", system-ui;
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #7a3737;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    transform: translateY(-25%);
}

.royalDeclare {
  font-family: "Mea Culpa", cursive;
  color: #582828;
  font-size: 7rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.royalDeclare span{
    background-color: rgba(226, 200, 169, 0.425);
    padding: 1%;
    border-radius: 25px;
}


.fantasyButton{
    align-self: center;
    background-color: bisque;
    padding: 1%;
    transform: translateY(-40%);
    border-style: solid;
    border-width: medium;
    cursor: pointer;

    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 19px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #7a3737;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
    margin: 2%;
    text-align: center;
}

.fantasyButton:hover{
    background-color:antiquewhite;
}

.buttonGrid{
    display: inline-flex;
    margin: auto;
}


#mrGrumpy{
    width: 25%;
    padding: 0;
    margin: auto;
}


/* Mobile styling, of course */

@media only screen and (max-width: 700px){

    body,html{
        width: auto;
    }
    
    body{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    background-image: linear-gradient(to right, rgba(255,228,196,0.7) 0 100%) ,url('../UI_Images/backgroundDragon.png');
    background-repeat: repeat-y;
    background-position: center top;
    background-size: 100%;
    }

    .royalDeclare{
        font-size: 3rem;
        text-align: center;
    }

    #mrGrumpy{
        width: 95%;
        padding: 0;
        margin: auto;
    }

    a.fantasyButton{
        align-self: center;
        background-color: bisque;
        transform: translateY(80%);
        padding: 1%;
        border-style: solid;
        border-width: medium;
    }

    .buttonGrid{
        flex-direction: column;
        margin: auto;
    }

    #turnBack{
        position: fixed;
        bottom: 0;
        transform: translateY(-50%);
    }
}